<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="me.lazerka.mf.android">

	<!-- Add these above to get rid of build warnings.
		xmlns:tools="http://schemas.android.com/tools"
	tools:replace="android:icon,android:theme"

	-->

	<!--<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />-->

</manifest>
